.dYInr {
  border-bottom: 1px solid var(--label-border-color);
  color: var(--label-color);
  font-weight: 600;
  margin: 0 0 7px;
  padding: 0 0 4px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.z2wCE {
  font-size: 0.825rem;
}

.yBUBH {
  font-size: 0.9rem;
}

.m46EU {
  font-size: 1rem;
}

.JOzNE {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uJMuU {
  color: var(--danger-color);
  font-weight: 700;
}

.ZHUJ9,
.wxY97,
.zyVia {
  background: var(--sub-content-bg);
  border-left: 5px solid;
  border-radius: 3px;
  font-size: 0.825rem;
  line-height: 1.5;
  padding: 6px 8px;
}

._2SqQ {
  margin: 5px 0 10px;
}

.ZHUJ9 {
  border-color: var(--info-color);
}

.wxY97 {
  border-color: var(--warning-color);
}

.zyVia {
  border-color: var(--danger-color);
}

.B5ZQm {
  pointer-events: none;
}

.W1cZe {
  transition: opacity 0.1s ease, transform 0.1s ease;
  will-change: opacity, transform;
}

.VkxC6,
.W1cZe {
  position: relative;
  z-index: 99999;
}

.VkxC6 span {
  word-wrap: break-word;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background: var(--tooltip-bg);
  border-radius: 3px;
  box-shadow: 0 4px 10px 0 #00000059;
  color: var(--tooltip-color);
  font-family: var(--app-font);
  font-size: 0.8rem;
  padding: 6px 8px;
  position: absolute;
  text-align: center;
  transition: none;
  white-space: pre;
}

.VkxC6:before {
  border: 5px solid transparent;
  color: var(--tooltip-bg);
  content: "";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 99999;
}

.VkxC6 span,
.VkxC6:before {
  display: inline-block;
  text-decoration: none;
}

.rRIcU span,
.rxR8J span,
.tpO8n span {
  margin-top: 5px;
  right: 50%;
  top: 100%;
}

.rRIcU:before,
.rxR8J:before,
.tpO8n:before {
  border-bottom-color: var(--tooltip-bg);
  bottom: -5px;
  margin-right: -5px;
  right: 50%;
  top: auto;
}

.rRIcU span {
  left: 50%;
  margin-left: -15px;
  right: auto;
}

.rxR8J span {
  margin-right: -15px;
}

.C8D6d span,
.HEiJb span,
._LdAA span {
  bottom: 100%;
  margin-bottom: 5px;
  right: 50%;
}

.C8D6d:before,
.HEiJb:before,
._LdAA:before {
  border-top-color: var(--tooltip-bg);
  bottom: auto;
  margin-right: -5px;
  right: 50%;
  top: -5px;
}

.C8D6d span {
  left: 50%;
  margin-left: -15px;
  right: auto;
}

._LdAA span {
  margin-right: -15px;
}

.HEiJb span,
.tpO8n span {
  transform: translateX(50%);
}

.ItfZm span {
  bottom: 50%;
  margin-right: 5px;
  right: 100%;
  transform: translateY(50%);
}

.ItfZm:before {
  border-left-color: var(--tooltip-bg);
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  top: 50%;
}

.G0Q1B span {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%);
}

.G0Q1B:before {
  border-right-color: var(--tooltip-bg);
  bottom: 50%;
  margin-top: -5px;
  right: -5px;
  top: 50%;
}

.IE41R span {
  word-wrap: normal;
  border-collapse: initial;
  display: table-cell;
  max-width: 250px;
  white-space: pre-line;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  word-break: break-word;
}

.IE41R.HEiJb span,
.IE41R.tpO8n span {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.IE41R.G0Q1B span,
.IE41R.ItfZm span {
  right: 100%;
}

@media screen and;
