# @note bruh stupid pnpm removes optional deps from package.json, that are deps of another dep, so i had to hoist pug packages into root modules folder, so I could fucking import this shit
public-hoist-pattern[]=pug-*